@media (min-width: 320px) and (max-width: 1000px) {
    #mainTextTabs {
        height: auto;
        padding-bottom: 20px;
    }

    .mailText h1 {
        width: 90vw;
        height: 114px;
        margin: 0;
        padding-top: 41px;
        font-family: TTNorms;
        font-size: 28px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: center;
        color: #383838;
    }

    .mailText p {
        width: 84vw;
        margin: 0;
        padding-top: 9px;
        margin: 0;
        font-family: TTNorms;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        color: #383838;
    }

    .ImgMobile {
        display: block;
        width: 79%;
        height: auto;
        margin-top: 21px;
        margin-left: 22px;
        margin-right: 21px;
        margin-bottom: 24px;
    }

    #btnTextTabs {
        display: none;
    }

    #otherTextTabs {
        width: 79%;
        margin-top: 38px;
        flex-direction: column;
        align-items: center;
    }

    #otherTextTabs h2 {
        width: 79%;
        height: auto;
        margin-left: 21px;
        margin-right: 21px;
        margin-top: 22px;
        margin-bottom: 4px;
        font-family: TTNorms;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #363636;
    }

    #otherTextTabs p {
        width: 79%;
        height: auto;
        margin: 0;
        margin-left: 21px;
        margin-right: 21px;
        font-size: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: start;
        color: #4e4e4e;
    }

    .hideImgMobile {
        display: none;
    }
}